:root {
	--primary-color: #4daf54;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
body{
    color: #fff;
    direction: ltr;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
	
}
.body-page{
    color: #fff;

}

/* header ---------------------------------------------------------------------------------------*/
.header{
	position: sticky;
	top: 0;
	z-index: 3;
	background-color: #fff;
}
.menu, .jordan{
	justify-content: center;
	align-items: center;
}
.jordan{
	background-color: #f3f3f3;
}
/* Jordan -------------*/

.icon-jordan{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign{
	display: flex;
	justify-content: right;
	align-items: center;
	color: #272d40;
}

.sign span{
	font-size: 0.7rem;
	color: #272d40;
	cursor: pointer;
	margin: 0.2rem;
	padding: 0.3rem;
	
}
.sign span:hover{
	color:darkgray;
}

/* End------------------ */
/* Menu --------------------------*/


.menu{
	margin-top: 1rem;
}
.icon-nike ,.menu-cart-heart, .menu-option,.search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.menu-option span{
	color: #272d40;
	cursor: pointer;
	margin: 0.5rem;
	text-align: center;
	border-bottom: #fff solid 0.2rem;
	transition: 0.3s;
	transition-delay: 0.1s;
}
.search{
	border-radius: 15px;
	background-color: #f3f3f3;
}
.search i{
	padding: 0 1rem;
	font-size: 1rem;
	color: #000;
}
.search input{
	border: unset;
	padding: 0 1rem;
	background-color: #f3f3f3;
}
.menu-option span:hover {
	border-bottom: #272d40 solid 0.2rem;
}

.icon-cart, .icon-heart{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-cart:hover, .icon-heart:hover{
	background-color: #f3f3f3;
	cursor: pointer;
}
.menu-cart-heart .icon-cart i, .menu-cart-heart .icon-heart i{
	font-size: 1.2rem;
	color: #272d40;
}
.number{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
}
.number span{
	text-align: center;
	font-size: 0.7rem;
	color: #272d40;
	font-weight: 600;
}

/* end ----------------------------------------------------*/

/* end ---------------------------------------------------------------------------------------*/



/* Product ------------------------------------------------------------------------------*/

.products{
	margin-top: 3rem;
	height: 100%;
	padding: 3rem 0;
	z-index: 1;
	align-items: center;
	justify-content: left;
	color: #000;
}

.detail-product{
	z-index: 1;
	min-height: 70vh;
	text-align: left;
	color: #333;
	padding:1rem;
}
/* card ----------------------------------------------*/
.card_c {
	position: relative;
	min-width: 20rem;
	max-width: 20rem;
	min-height: 25rem;
	max-height: 25rem;

	margin: 2rem auto;
	border-radius: 1rem;
	transition: 0.3s;
	transition-delay: 0.1s;
	background-color: #272d40;
	color: #f3f3f3;

}
.card-img{
	margin-top: 4rem;
	height: 40%;
	width: 100%;
}
.card__img {
	width: 50%;
	height: 100%;
    overflow: hidden;
	border-radius: 50%;
}

.card__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.card_c:hover .card__img {
	transform: translateY(-90px) rotate(-20deg);
}

.card__title {
	font-size: 1.5rem;
	width: 100%;
	color: var(--primary-color);
	text-align: center;
}

.card__price {
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
	color: #f3f3f3;
}

.card_c:hover .card__title {
	transform: translate(-40px, -72px);
}

.card_c:hover .card__price {
	transform: translate(-112px, -72px);
}

.card__action {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	opacity: 0;
	visibility: hidden;
}

.card__action, .card-img ,.card-detail-buy {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.card__action, .card__img, .card__title, .card__price {
	transition: 0.5s;
	transition-delay: 0.1s;

}
.card_c:hover .card__action {
	margin-top: -4rem;
	opacity: 1;
	visibility: visible;
}

.card__size,
.card__color {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	transition: 0.5s;
	transition-delay: 0.1s;

}

.card__size h5,
.card__color h5 {
	font-weight: unset;
	margin-right: 12px;
	color: #f3f3f3;
}

.card__size span {
	padding: 2px 10px;
	background-color: #dadada;
	margin: 0 0.5rem;
	border-radius: 5px;
	color: #000;
	cursor: pointer;
}
.card__size span:hover{
	transform: scale(0.95);
}
.card__color span {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	margin: 0 0.5rem;
    cursor: pointer;
	opacity: 0.5;
}
.card__color span:hover{
	transform: scale(0.95);
}
.card__color span.green {
	background-color: green;
}
.card__color span.red {
	background-color: red;
}
.card__color span.black {
	background-color: black;
}
.card__action .card-detail-buy button {
	padding: 0.5rem 1rem;
	outline: none;
	border: none;
	background-color: var(--primary-color);
	border-radius: 5px;
	cursor: pointer;
	color: #f3f3f3;
	margin-right: 1rem;
	font-weight: 600;
	transition: 0.2s;
	transition-delay: 0.1s;

}

.card__action .card-detail-buy button:hover {
	transform: scale(0.95);
}

.card-size-color{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
}
.color, .size{
	transition: 0.05s;
	transition-delay: 0.05s;

}
.like, .cart, .edit{
	position: absolute;
	top: 12px;
	left: 1rem;
	cursor: pointer;
	z-index: 1;
	transition: 0.1s;
	transition-delay: 0.05s;
}
.like:hover, .cart:hover, .edit:hover {
	transform: scale(0.95);
}
.like i, .cart i, .edit i{
	font-size: 2rem;
	color: #f3f3f3;
}
.cart{
	left: unset;
	right: 1rem;
}
.edit{
	left: unset;
	top: unset;
	bottom: 12px;
	right: 1rem;
}
.toggle-click-size{
	background-color: #4daf54!important;
}
.toggle-click-color{
	opacity: 1 !important;
	border: 1px solid #f3f3f3;
}

/* ------------------------------------------------- */

/* end -----------------------------------------------------------------------------------*/
/* footer site------ */
.footer{
	background-color: #000;
	padding: 3rem;
}

.footer p{
	font-size: 0.7rem;
	color: #888;
	cursor: pointer;
}
.footer p:hover{
	color: #fff;
}
.footer h6{
	margin-bottom: 2rem;
	font-size: 0.8rem;
	cursor: pointer;
	font-weight: 500;
}
.footer-about, .footer-get, .footer-find{
	justify-content: top;
}
.footer-icon{
	justify-content: right;
}
.footer-icon i{
	margin-left: 1rem;
	background-color:#888;
	color: #000;
	font-size: 1rem;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-icon i:hover{
	background-color: #fff;
}
.container{
	max-width: 100% !important;
}
/* end------------ */

/* Responsive Web Design */

