:root {
	--primary-color: #4daf54;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
body{
    color: #fff;
    direction: ltr;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
	
}
.body-page{
    color: #fff;
}
/* header ---------------------------------------------------------------------------------------*/
.header{
	position: sticky;
	top: 0;
	z-index: 3;
	background-color: #fff;
}
.menu, .jordan{
	justify-content: center;
	align-items: center;
}
.jordan{
	background-color: #f3f3f3;
}
/* Jordan -------------*/

.icon-jordan{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign{
	display: flex;
	justify-content: right;
	align-items: center;
	color: #272d40;
}

.sign span{
	font-size: 0.7rem;
	color: #272d40;
	cursor: pointer;
	margin: 0.2rem;
	padding: 0.3rem;
	
}
.sign span:hover{
	color:darkgray;
}

/* End------------------ */
/* Menu --------------------------*/


.menu{
	margin-top: 1rem;
}
.icon-nike ,.menu-cart-heart, .menu-option,.search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.menu-option span{
	padding: 0.5rem;
	cursor: pointer;
	transition: 0.05s;
	transition-delay: 0.05s;
	border-radius: 5px;
}
.menu-option span:hover{
	transform: scale(0.9);
	background-color: #f3f3f3 !important;
}
.menu-option span span{
	color: #272d40;
}
.menu-option span i{
	color: #272d40;
}


.icon-cart, .icon-heart{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-cart:hover, .icon-heart:hover{
	background-color: #f3f3f3;
	cursor: pointer;
}
.menu-cart-heart .icon-cart i, .menu-cart-heart .icon-heart i{
	font-size: 1.2rem;
	color: #272d40;
}
.number{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
}
.number span{
	text-align: center;
	font-size: 0.7rem;
	color: #272d40;
	font-weight: 600;
}
/*  */

button:hover{
	transform: scale(0.95);
	transition: 0.1s;
	transition-delay: 0.05s;
}
.category{
	padding: 1rem;
	border-bottom: #272d40 solid 1px;
}
.search,.new{
	justify-content: center;
	align-items: center;
}
.search{
	width: 75%;
	padding: 0.5rem;
}
.search input{
	width: 60%;
	padding: 1rem;

}
.search button{
	width: 35%;
	margin-left: 1rem;
	padding: 1rem;
	border: solid 1px #272d40;
	border-radius: 5px;
}
.new{
	width: 25%;
	padding: 0.5rem;
}
.new button{
	width: 100%;
	padding: 1rem;
	border: solid 1px #272d40;
	border-radius: 5px;
}
.main{
	padding: 1rem;
	color: #272d40;
	min-height: 50vh;
}
.title h5{
	margin-bottom: 0;
	font-size: 1rem;
	height: 2rem;
	font-weight: 600;
	margin-bottom: 1rem;
	padding: 0.1rem;
	display: flex;
	align-items: center;
	border-bottom: #333 1px solid
}
.value input,.value h5, .value select{
	border: solid 1px #272d40;
	border-radius: 5px;
	padding: 0.1rem;
	font-size: 1rem;
	height: 2rem;
	margin-bottom: 1rem;
}
.image{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35vh;
	padding: 1vmax;
}
.image-frame{
	border: #272d40 2px solid;
	border-radius: 15px;
	overflow: hidden;
	height: 10vmax;
	width: 10vmax;
	border-radius: 50%;
	transition: 0.5s;
	transition-delay: 0.1s;
}
.image-frame:hover{
	height: 100%;
	width: 100%;
	border-radius: 15px;
}
.image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.title{
	width: 30%;
}
.value{
	width: 30%;
}
.edit-user{
	justify-content: center;
	align-items: center;
	width: 100%;
}
.edit-user button{
	height: 3rem;
	border: solid 1px #272d40;
	border-radius: 5px;
	margin: 1rem;
	width: 20%;
}
.notify p{
    color: #e50914;
	font-size: 1rem;
	transition: 0.5s;
	visibility: hidden;
	opacity: 0;
}
.notify-text{
    color: #e50914;
	visibility: visible !important;
	opacity: 1 !important;
}

.notify{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
	height: 3rem;
}
.card-frame{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}
.card{
	height: 25rem;
	width: 20rem;
	background-color: #f3f3f3;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border: #000 2px solid;
	border-radius: 5px;
	padding: 0 ;
}
.card-img{
	height: 10rem;
	width: 10rem;
	margin-top: 2rem;
	overflow: hidden;
	border-radius: 50%;
	transition: 0.4s;
	transition-delay: 0.1s;
	border: palevioletred 2px solid;

}
.card-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.card-img:hover{
	height: 100%;
	width: 100%;
	border-radius: unset;
	margin-top: unset;
}
.card-img:hover + .card-action{
	height: 0%;
	transition: 0.5s;
	transition-delay: 0.1s;
	opacity: 0;
	visibility: 0;
}
.card-action{
	height: 60%;
	transition: 0.4s;
	transition-delay: 0.1s;
	opacity: 1;
	visibility: 1;
}
.card-info{
	height: 40%;
	padding: 1rem;
}
.card-info{
	text-align: center;
	color: palevioletred;
}
.card-icon{
	height: 30%;
	justify-content: center;
	align-items: center;
}
.card-icon i{
	font-size: 2rem;
	margin: auto 1rem;
	cursor: pointer;
	transition: 0.1s;
	transition-delay: 0.05s;
}
.card-icon i:hover{
	transform: scale(0.95);
}
.card-contact{
	height: 30%;
	justify-content: center;
	align-items: center;
	transition: 0.1s;
	transition-delay: 0.05s;
}
.card-contact:hover{
	transform: scale(0.95);
}
.card-contact button{
	width: 50%;
	height: 70%;
	border-radius: 5px;
	color: palevioletred;
	background-color: #333;
	border: 1px solid #000;
	cursor: pointer;
}
.footer{
	background-color: #000;
	padding: 3rem;
}

.footer p{
	font-size: 0.7rem;
	color: #888;
	cursor: pointer;
}
.footer p:hover{
	color: #fff;
}
.footer h6{
	margin-bottom: 2rem;
	font-size: 0.8rem;
	cursor: pointer;
	font-weight: 500;
}
.footer-about, .footer-get, .footer-find{
	justify-content: top;
}
.footer-icon{
	justify-content: right;
}
.footer-icon i{
	margin-left: 1rem;
	background-color:#888;
	color: #000;
	font-size: 1rem;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-icon i:hover{
	background-color: #fff;
}
.container{
	max-width: 100% !important;
}



